[init]
    templatedir=~/.git_template
	defaultBranch = master
[user]
	name = Kurt Wolf
	email = kwolf@gohcl.com
[push]
	default = simple
[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    dump = cat-file -p
    g = grep -I
    lg = log -p
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    pb = publish-branch
    pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
    rb = rbranch
    rc = rank-contributors
    rv = review
    sm = show-merges
    st = status
    type = cat-file -t
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = false
[color "status"]
    added = green bold
    changed = blue bold
    untracked = red ul
    branch = yellow black bold ul
[pager]
    log = less -X -F
    show = less -X -F
    diff = less -X -F
[includeIf "gitdir:/Users"]
    path = ~/.dotfiles/.gitconfig.macos
[includeIf "gitdir:/home"]
    path = ~/.dotfiles/.gitconfig.linux
